// 第一个tab的样式
.first_tab {
  // 商品
  .goods_item {
    display: flex;
    border-bottom: 4rpx solid #ccc;
    padding: 14rpx 8rpx 20rpx;
    // 图片盒子
    .goods_img_wrap {
      flex: 2;
      image {
        width: 70%;
        height: 160rpx;
      }
    }
    // 商品详情盒子
    .goods_info_wrap {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // 商品名称
      .goods_name {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      /*商品价格*/
      .goods_price {
        color: var(--themeColor);
        font-size: 32rpx;
      }
    }
  }
}
